@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
.App{
  display:flex;
  align-items: center;
  justify-content: center;
}

.myPhone{
  width:400px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leadLogo{
  margin:20px;
}
.welcome{
  color:#c779d3;
  font-weight: bold;
  font-size:20px;
}
.myForm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:20px;
}
.myInput{
  padding:10px;
  border-radius:7px;
  width:300px;
  margin:10px;
  border:2px solid rgb(204, 204, 204);
}
.selectInput{
  width: 325px !important;
  color:gray;
}
.selectInput:focus{
  color:black;
}
.submitBtn{
  background-color: rgb(196,196,196);
  padding:10px 40px;
  margin:40px;
  color:white;
  font-weight: bold;
  border-radius:5px;
  box-shadow: 0px 0px 20px 0px rgb(196,196,196);
}
